body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.App {
 text-align: center;
}

.Header {
  color: rgb(255,255,255);
 
}

.Nav {
  background-color:  green;
  color: rgb(255,255,255);
}

.StatsArea {
  
  background-color: rgb(74, 74, 172);
  color: rgb(255,255,255); 
  height: 100vh;

  
}

.TaskArea {
  background-color:  yellow;
  height: 100vh;
 
 
}

.TaskCard {
  background-color:  pink;
  /* margin: 5%; */
  /* padding: 5%; */
}


