body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.App {
  text-align: center;
}

.Header {
  color: rgb(255, 255, 255);
}

.Nav {
  background-color: rgb(128, 72, 111);
  color: rgb(255, 255, 255);
}

.StatsArea {
  background-color: rgb(32, 32, 212);
  color: rgb(255, 255, 255);
  height: 100vh;
}

.TaskArea {
  background-color: rgb(235, 22, 121);
  height: 100vh;
}

.TaskCard {
  background-color: pink;
  width: 12em;
  height: 8em;
}

.pic {
 
  width: 12em;
  height: 10em;
}